In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [2]:
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv("D:/Dixant/CDAC/Machine Learning/07-12-21/titanic.csv"
                     )

In [4]:
dataset=dataset.drop('PassengerId',1)
dataset=dataset.drop('Name',1)
dataset=dataset.drop('Ticket',1)
dataset=dataset.drop('Cabin',1)
dataset=dataset.drop('Embarked',1)

In [5]:
dataset.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [6]:
df=dataset['Sex']
df.head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [7]:
df=pd.get_dummies(df)

In [8]:
df=df['male']

In [9]:
df=pd.DataFrame(df)

In [10]:
df

     male
0       1
1       0
2       0
3       0
4       1
..    ...
886     1
887     0
888     0
889     1
890     1

[891 rows x 1 columns]

In [11]:
 dataset = pd.concat([dataset, df],axis=1, join='inner')
dataset.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare  male
0         0       3    male  22.0      1      0   7.2500     1
1         1       1  female  38.0      1      0  71.2833     0
2         1       3  female  26.0      0      0   7.9250     0
3         1       1  female  35.0      1      0  53.1000     0
4         0       3    male  35.0      0      0   8.0500     1

In [12]:
dataset=dataset.drop('Sex',1)

In [13]:
dataset['Age']=dataset['Age'].replace(np.NaN,dataset['Age'].mean())

In [14]:
dataset.shape

(891, 7)

In [15]:
print(dataset.groupby('Survived').size())

Survived
0    549
1    342
dtype: int64

In [16]:
X_train, X_test, y_train, y_test = train_test_split(dataset.loc[:, dataset.columns != 'Survived'], dataset['Survived'], stratify=dataset['Survived'],random_state=42)

In [17]:
print(y_train.value_counts())
print(y_test.value_counts())

0    412
1    256
Name: Survived, dtype: int64
0    137
1     86
Name: Survived, dtype: int64

In [18]:
feature_name=list(X_train.columns)
class_name = list(y_train.unique())
print(feature_name)
print(class_name)

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'male']
[1, 0]

In [19]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   male      891 non-null    uint8
dtypes: float64(2), int64(4), uint8(1)
memory usage: 42.8 KB

In [20]:
#Create Decision Tree classifer object
clf = DecisionTreeClassifier()
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [21]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.757847533632287

In [22]:
list1=[]
for i in range(5,15):
    list1.append(i)

In [23]:
from sklearn.model_selection import GridSearchCV
param_grid = {'max_depth' : list1}

In [24]:
clf= DecisionTreeClassifier(criterion='gini',max_depth=i)

In [25]:
gridsearch = GridSearchCV(clf, param_grid,cv=2)

In [26]:
gridsearch.fit(X_train,y_train)

GridSearchCV(cv=2, estimator=DecisionTreeClassifier(max_depth=14),
             param_grid={'max_depth': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14]})

In [27]:
a=gridsearch.best_params_['max_depth']

In [28]:
gridsearch.best_score_

0.812874251497006

In [29]:
clf= DecisionTreeClassifier(criterion='gini',max_depth=a)
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [30]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7713004484304933

using criterion='entropy' with grip cv

In [31]:
clf= DecisionTreeClassifier(criterion='entropy',max_depth=i)

In [32]:
gridsearch = GridSearchCV(clf, param_grid,cv=2)

In [33]:
gridsearch.fit(X_train,y_train)

GridSearchCV(cv=2,
             estimator=DecisionTreeClassifier(criterion='entropy',
                                              max_depth=14),
             param_grid={'max_depth': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14]})

In [34]:
b=gridsearch.best_params_['max_depth']

In [35]:
gridsearch.best_score_

0.811377245508982

In [36]:
clf= DecisionTreeClassifier(criterion='entropy',max_depth=b)
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [37]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7847533632286996